.button-eng {
    width: 275px;
    height: 80px;
    background-color: #dfefff;
    font-size: 25px;
    color: #3b5998;
}

.button-eng-tomap {
    width: 350px;
    height: 125px;
    background-color: #dfefff;
    font-size: 40px;
    color: #3b5998;
}

.button-visually {
    width: 275px;
    height: 80px;
    background-color: #dfefff;
    font-size: 32.6px;
    color: #3b5998;
}

.button-tomap {
    width: 350px;
    height: 125px;
    background-color: #dfefff;
    font-size: 40px;
    color: #3b5998;
}

.button-vk {
    width: 150px;
    height: 40px;
    background-color: #45688E;
    font-size: 20px;
    color: #f8f9ff;
    font-weight: bolder;
}

.button-fb {
    width: 150px;
    height: 40px;
    background-color: #3b5998;
    font-size: 20px;
    color: #f8f9ff;
    font-weight: bolder;
}