.header {
    text-align: center;
    margin: 40px 20px;
}

.header img {
    width: 400px;
    height: 200px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer {
    margin: 40px -10px;
    text-align: center;
}

.footer img {
    height: 72px;
}